body {
    background-image: linear-gradient(to bottom right, rgba(162, 240, 229, 0.87), rgba(248, 171, 225, 0.795));
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center;
}

@keyframes example {
    0% {
        background-image: linear-gradient(to bottom right, rgba(235, 19, 170, 0.795) rgba(44, 106, 240, 0.87), );
    }
    25% {
        background-image: linear-gradient(to bottom right, rgba(72, 230, 209, 0.87), rgba(211, 84, 173, 0.795));
    }
    50% {
        background-image: linear-gradient(to bottom right, rgb(241, 182, 224), rgb(162, 250, 237));
    }
    100% {
        background-image: linear-gradient(to bottom right, rgba(33, 240, 212, 0.87), rgb(241, 189, 226));
    }
}

.top-container {
    padding: 50px;
}

.pro {
    text-decoration: underline;
}

h1 {
    font-size: 5.625rem;
    font-weight: bolder;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px lightblue;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.larger {
    font-size: 40px;
}

h2 {
    font-size: 45px;
    font-family: 'Federant', cursive;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.hr1 {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p {
    font-family: 'Metal Mania', cursive;
    font-size: larger;
    line-height: 2;
}

.p1 {
    font-family: 'Metal Mania', cursive;
    font-size: 16px;
    line-height: 2;
}

.btn {
    background: lightseagreen;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Metal Mania', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #7e1e4e, 0 0 50px #ee3a94, 0 0 60px #f1449b, 0 0 70px #f15da7;
    }
    to {
        text-shadow: 0 0 20px rgb(241, 108, 108), 0 0 30px #ec4daaea, 0 0 40px #f852a5, 0 0 50px #e6519b, 0 0 60px #e05196, 0 0 70px #ff4da6, 0 0 80px #e24292;
    }
}

.bottom-container {
    padding: 50px
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.7s
}

.modal-body {
    padding: 2px;
    text-align: center;
}

.modal-header {
    padding: 2px 16px;
    background-color: #57def0;
    color: white;
    text-align: center;
}


/* The Modal Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and delete button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}